@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --persian-font: IRANSans;
    --english-font: 'Poppins', sans-serif;
    --english-font-weight: 500;
    --persian-font-weight: 600;

    --primary-color: #6205ED;
    --secondary-color: #8505CA;
    --third-color: #A705A7;
    --fourth-color: #CA0483;
    --fifth-color: #EC0460;
}
@font-face {
    font-family: IRANSans;
    src: url(IRANSans.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::selection {
    background-color: var(--primary-color);
    color: #FFF;
}
body, button {
    font-family: var(--persian-font);
    font-weight: var(--persian-font-weight);
}
body {
    background-color: var(--primary-color);
}
.fluent__title {
    color: #FFF;
    padding-top: 2rem;
    text-align: center;
}
.fluent__container {
    padding-top: 2.5rem;
}
.fluent__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    column-gap: 1rem;
    row-gap: 2rem;
}
.fluent__flashcard {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    background-color: #FFF;
    width: 500px;
    border-radius: 3px;
    padding: 1.5rem;
    cursor: pointer;
}
.fluent__flashcard-title {
    color: var(--primary-color);
    font-size: 1.5rem;
}
.fluent__total-flashcards strong {
    color: #0aaf62;
}
.fluent__todays-flashcards strong {
    color: #ff0000;
}
.fluent__todays-flashcards {
    margin-bottom: 1.5rem;
}
hr {
    margin-bottom: 1rem;
}
.fluent__settings-button {
    background-color: var(--primary-color);
    color: #FFF;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: .5s;
}
.settings-icon {
    transition: .5s;
}
.fluent__settings-button:hover .settings-icon {
    transform: rotate(360deg);
}
.fluent__settings-button:hover {
    background-color: var(--secondary-color);
}
.fluent__modal {
    display: none;
    background-color: #f1ecec;
    border-radius: 3px;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    transition: 0.5s;
}
.fluent__modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.fluent__modal-text {
    padding-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.new-flashcards-text, .old-flashcards-text {
    margin-bottom: 1rem;
}
.fluent__counters {
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;
}
.first__counter, .second__counter {
    display: flex;
}
input[type="number"] {
    font-family: var(--english-font);
    font-weight: var(--english-font-weight);
    -moz-appearance: textfield;
    text-align: center;
    font-size: 20px;
    width: 70px;
    border: none;
    outline: none;
    background-color: #FFF;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.fluent__modal-content button {
    background-color: var(--secondary-color);
    color: #FFF;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 1rem;
    cursor: pointer;
}
.fluent__decrement {
    padding: 15px 5px 15px 25px;
    border-radius: 45px 0 0 45px;
}
.fluent__increment {
    padding: 15px 25px 15px 5px;
    border-radius: 0 45px 45px 0;
}
.save-button {
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
.save-button:hover {
    transform: scale(1.1);
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .7rem;
    font-size: 1.5rem;
    border-radius: 3px;
    background-color: #ff0000;
    color: #FFF;
    transition: 0.5s;
    cursor: pointer;
}
.close:hover {
    background-color: #c00404;
}
@media (min-width: 320px) and (max-width: 650px) {
    .fluent__content {
        display: flex;
        flex-direction: column;
    }
    .fluent__flashcard {
        width: 70vw;
    }
    .fluent__modal {
        width: 90vw;
    }
    .fluent__counters {
        display: flex;
        flex-direction: column;
    }
    .fluent__first-counter, .fluent__second-counter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .8rem;
    }
}
@media (min-width: 651px) and (max-width: 1074px) {
    .fluent__flashcard {
        width: 40vw;
    }
}
